<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../static/jquery/jquery.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script></head>
</head>
<body>

<div class="container">
    <h2>图形处理1</h2>
    <p></p>
    <form role="form" enctype="multipart/form-data" action="/importDataFromCsv/" method="post" >
        <div class="form-group"></div>
        <label>请选择csv文件：</label>
        <input type="file"  id="inputcsv" name="inputcsv" >
        <input type="submit" value="upload"/>


    </form>



</div>
</body>

<
</html>